@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import "reset.css";

body {
background-color: mintcream;
font-family:'Roboto', sans-serif;
}

nav {
   margin:2rem;
   display:flex;
   justify-content:space-between;
}

#formulaire {
display: flex;
flex-direction: column;
align-items:column;
margin-top: 5rem;

}

#formulaire h1 {
margin-left:2rem;
font-size:25px;
}


#formcompare {
display:block;
margin:2rem;
}

#formcompare textarea, input, select, label {
display:block;
margin-top:1rem;
width:70%;
font-family:'Roboto', sans-serif;
}

#formcompare select {
    margin: 2px 0;
    padding: 2px 3px;
    font-weight: normal;
    width: 270px !important;
    height: 17.2em;
    width:70%!important;
}

#formcompare input[type="submit"] {
  margin-top: 2rem;
  display:block;
  clear:both;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
